extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&display=swap" rel="stylesheet")
  //- add page specific js

block content
  .homepage-container
    .homepage-top-story
      .top-story_content
        img(src=topStory.imageLink alt="")
        .top-story_author
          img(src=topStory.imageLink width="20" height="20" alt="")
          h4= topStory.author
        h2
          a(href=`/users/${topStory.userId}/stories/${topStory.hexId}`)= topStory.title
        p= topStory.subtitle
        .top-story_readtime
          a(href="") Read more
    .homepage-top-stories
      .stories-container
        each highlight in highlights
          .top-stories_article
            .article-content
              .article-content_author
                img(src=highlight.imageLink width="20" height="20" alt="")
                h4= highlight.author
              h2
                a(href=`/users/${highlight.userId}/stories/${highlight.hexId}`)= highlight.title
              .article-content_date
                h4= highlight.date
            .article-img
              img(src=highlight.imageLink alt="")
    .homepage-followers
    .homepage-trending
      .homepage-trending_container
        .trending-article
          h1 01
          .trending-article_content
            .trending-author
              img(src="./images/moon.jpg" width="20" height="20" alt="")
              h4 Jimmy Jones
            h2 New Movie release
            p read time
        .trending-article
          h1 02
          .trending-article_content
            .trending-author
              img(src="./images/moon.jpg" width="20" height="20" alt="")
              h4 Jack Daxter
            h2 Where are all these people coming from?
            p read time
        .trending-article
          h1 03
          .trending-article_content
            .trending-author
              img(src="./images/moon.jpg" width="20" height="20" alt="")
              h4 John Jacob
            h2 Boy do I love my new Socks!
            p read time
        .trending-article
          h1 04
          .trending-article_content
            .trending-author
              img(src="./images/moon.jpg" width="20" height="20" alt="")
              h4 Blake Harvey
            h2 Why am I stuck in gold in Valorant?
            p read time
        .trending-article
          h1 05
          .trending-article_content
            .trending-author
              img(src="./images/moon.jpg" width="20" height="20" alt="")
              h4 Justin Samoy
            h2 This is my life as someone with a big head
            p read time
        .trending-article
          h1 06
          .trending-article_content
            .trending-author
              img(src="./images/moon.jpg" width="20" height="20" alt="")
              h4 Mike Jensen
            h2 I wish I could live on the Moon
            p read time

    .homepage-stream
      .homepage-stream_container
        each recent in recents
          .stream-article
            .stream-content
              .stream-content_author
                img(src=recent.imageLink width="20" height="20" alt="")
                h4= recent.author
              .stream-content_headers
                h2
                a(href=`/users/${recent.userId}/stories/${recent.hexId}`)= recent.title
              p= recent.date
            .stream-article_img
                img(src=recent.imageLink width="100" height="100" alt="")
    .homepage-bookmarks
      .bookmarks-container
        .bookmarks-container_content
          h4 Bookmark stories for later
          p Start saving stories by clicking the bookmark icon and you’ll find them all here.
