extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&display=swap" rel="stylesheet")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(class="homepage-container")
    div(class="homepage-top-story")
      div(class="top-story_content")
        img(src=topStory.imageLink alt="")
        div(class="top-story_author")
          img(src=topStory.imageLink width="20" height="20" alt="")
          h4= topStory.author
        h2
          a(href=`/users/${topStory.userId}/stories/${topStory.hexId}`)= topStory.title
        p= topStory.subtitle
        div(class="top-story_readtime")
          a(href="") Read more
    div(class="homepage-top-stories")
      div(class="stories-container")
        each highlight in highlights
          div(class="top-stories_article")
            div(class="article-content")
              div(class="article-content_author")
                img(src=highlight.imageLink width="20" height="20" alt="")
                h4= highlight.author
              h2
                a(href=`/users/${highlight.userId}/stories/${highlight.hexId}`)= highlight.title
              div(class="article-content_date")
                h4= highlight.date
            div(class="article-img")
              img(src=highlight.imageLink alt="")
    div(class="homepage-followers")
    div(class="homepage-trending")
      div(class="homepage-trending_container")
        div(class="trending-article")
          div(class="trending-article_content")
            h4 author 1
            h2 article title
            p read time
        div(class="trending-article")
          div(class="trending-article_content")
            h4 author 2
            h2 article title
            p read time
        div(class="trending-article")
          div(class="trending-article_content")
            h4 author 3
            h2 article title
            p read time
        div(class="trending-article")
          div(class="trending-article_content")
            h4 author 4
            h2 article title
            p read time
        div(class="trending-article")
          div(class="trending-article_content")
            h4 author 5
            h2 article title
            p read time
        div(class="trending-article")
          div(class="trending-article_content")
            h4 author 6
            h2 article title
            p read time

    div(class="homepage-stream")
      div(class="homepage-stream_container")
        each recent in recents
          div(class="stream-article")
            div(class="stream-content")
              div(class="stream-content_author")
                img(src=recent.imageLink width="20" height="20" alt="")
                h4= recent.author
              div(class="stream-content_headers")
                h2
                a(href=`/users/${recent.userId}/stories/${recent.hexId}`)= recent.title
              p= recent.date
            div(class="stream-article_img")
                img(src=recent.imageLink width="100" height="100" alt="")
    div(class="homepage-bookmarks")
      div(class="bookmarks-container")
        div(class="bookmarks-container_content")
          h4 Bookmark stories for later
          p Start saving stories by clicking the bookmark icon and you’ll find them all here.
          button(id="upvote") upvote
          h2(class="likesCount") 0
