doctype html
html
  head
      block head
        title="Infinium"
        link(rel='stylesheet' href='/stylesheets/story-id.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap")
        script(src="/javascripts/story-id.js" type="module" defer)
  body
    header
      .header
        .title
          a(href=`/users/${userId}` class= "title_name")= author
          .followers 1 Follower
          .dot .
          a(href="" class="about") About
        .icons
          if locals.user
            .dropdown
              a(href="" class="icons_image_holder")
                img(src="/images/dogs.jpg", alt="Doggies!" class="icons_image")
              div(class="dropdown_content" id="myDropdown")
                .header_mini
                  img(src="/images/dogs.jpg", alt="Doggies!" class="icons_image")
                  .naming_info
                    a(href=`/users/${locals.user.id}` class="naming_info_list1")= locals.user.username
                    a(href=`/users/${locals.user.id}` class="naming_info_list2") @#{locals.user.username}
                a(href="/") Home
                a(href="/stories/new-story") New Story
                a(href="#") Settings
          else
            span(class="loggedin")
              a(class="login" href='/users/login') Login
              a(class="register" href='users/register') Register
          a(href="/")
            .infinity_image
              img(src="/images/infinity.jpg" alt="Infinity" class="infinity_image_icon")
      .storyholder
        .recentStories
          .recentStory
            h2(class="recentStory_title")= title
            h3(class="recentStory_subtitle")= subtitle
            a(href=`/users/${userId}`)
              .author_info
                img(src="/images/dogs.jpg" alt="dogs" class="author_info_icon")
                a(href=`/users/${userId}` class="author_info_name")= author
                p(class="author_info_date")= date
          if (story.imageLink)
            .storyImage
              img(src= story.imageLink, alt="doggies" class="storyImage_recent")
          .storyBody
            p= story.published
    section
      .about_me
        .person_info.hide
          .nameplate About #{author}
            p(class="nameplate_bio") I'm so interesting!
          .follow_following
            .person_info_following 13 Following
            .person_info_dot .
            .person_info_follower 1 Follower
        .profilePic.hide
          img(src="/images/dogs.jpg", alt="doggies" class="profilePic_pic")
