extends layout

block content
  h2
    .story-title= title
    .story-subtitle= subtitle
  .story-byline
    span.story-author 'Author: #{author}'
    span.story-date 'Posted: #{publishedDate}'
  .story-content= storyBody
