doctype html
html
  head
      block head
        title="Infinium"
        link(rel='stylesheet' href='/stylesheets/story-id.css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap")
        script(src="/javascripts/layout.js" type="module" defer)
        script(src="/javascripts/story-id.js" type="module" defer)
  body
    header
      include user-header-include
      .storyholder
        .recentStories
          .recentStory
            h2(class="recentStory_title")= title
            h3(class="recentStory_subtitle")= subtitle
            a(href=`/users/${userId}`)
              .author_info
                img(src="/images/dogs.jpg" alt="dogs" class="author_info_icon")
                a(href=`/users/${userId}` class="author_info_name")= author
                p(class="author_info_date")= date
          if (story.imageLink)
            .storyImage
              img(src= story.imageLink, alt="doggies" class="storyImage_recent")
          .storyBody
            p= story.published
            .likes
              img(src="/images/clap.png" id="upvote")
              //- p(class="likesCount")
              p(id="likesCount")
              p= storyLikes

          .footer_info
            a(href="")
              img(src="/images/clapping.png" alt="comment" class="clapping")
            a(href="")
              img(src="/images/comment-button.png" alt="comment" class="comment_button")
    section
      .about_me
        .person_info.hide
          .nameplate About #{author}
            p(class="nameplate_bio") I'm so interesting!
          .follow_following
            .person_info_following 13 Following
            .person_info_dot .
            .person_info_follower 1 Follower
        .profilePic.hide
          img(src="/images/dogs.jpg", alt="doggies" class="profilePic_pic")
    include comments.pug
